.orb-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* ✅ Aurora보다 위로 올라오도록 */
  pointer-events: none; /* 입력 방해 방지 */
}

.orb-children {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  pointer-events: auto; /* 내부 버튼 등은 정상 동작 */
=======
  /*pointer-events: none;*/
>>>>>>> 3cd2ac9a030f77b8fd3283259b03d1c041c2541e
}
