.overlay {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.2);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
  /*backdrop-filter: blur(4px);*/
}
.modalBox {
  /*background: rgba(0,0,0,0.92);*/
  background: rgba(15, 23, 42, 4);
  backdrop-filter: blur(12px);
  border-radius: 14px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.18);
  padding: 32px 20px 24px 20px;
  min-width: 700px;
  max-width: 96vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: modalIn 0.18s cubic-bezier(.4,0,.2,1);
}
@media (max-width: 800px) {
  .modalBox {
    min-width: unset;
    width: 95vw;
    padding: 18px 8px 18px 8px;
  }
}
.closeBtn {
  position: absolute; top: 14px; right: 14px;
  background: none; border: none; font-size: 1.2rem;
  color: #eaffb7; cursor: pointer;
}
.title { font-size: 1.08rem; font-weight: bold; margin-bottom: 18px; color: #fff; }
.input {
  width: 100%;
  padding: 8px 10px;
  border: 1.2px solid #7e5cff;
  border-radius: 6px;
  font-size: 0.98rem;
  outline: none;
  background: #0f172a;
  color: #fff;
  margin-bottom: 0;
}
.passwordBox {
  width: 65%;
  position: relative;
  margin-bottom: 10px;
}
.showBtn { position: absolute; top: 50%; right: 12px; transform: translateY(-50%); font-size: 0.85rem; color: #888; cursor: pointer; user-select: none; background: #fff; padding: 0 4px; }
.loginBtn {
  width: 65%;
  padding: 10px 0;
  background: #111;
  color: #fff;
  font-weight: bold;
  border: 1.2px solid #3b82f6;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.18s;
}
.loginBtn:hover { 
  background: #222; 
  color: #fff;   
  border: 1.2px solid #3b82f6;
}
.warning { color: #ff5a5a; font-size: 0.92rem; margin-bottom: 10px; text-align: center; }
.divider { width: 100%; text-align: center; color: #aaa; font-size: 0.88rem; margin: 18px 0 10px 0; }
.snsBtn {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.2px solid #3b82f6;
  background: #111;
  color: #fff;
  border-radius: 6px;
  font-size: 0.98rem;
  font-weight: 500;
  padding: 8px 0;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.15s;
}
.snsBtn:hover { background: #222; color: #fff; }
.snsBtn img { width: 18px; height: 18px; margin-right: 8px; object-fit: contain; }
.signupBox { margin-top: 16px; text-align: center; color: #aaa; font-size: 0.92rem; }
.signupBtn { color: #fff; background: none; border: none; font-size: 0.92rem; font-weight: 600; margin-left: 4px; cursor: pointer; }
.signupBtn:hover { text-decoration: underline; color: #aaa; } 